<% if (page.cover == true) { %>
  <div class="cover-wrapper">
    <% if (is_home() && page.prev == 0 && theme.cover.scheme == 'docs') { %>
      <cover class='cover <%- page.layout %> full'>
        <%- partial('../_cover/index') %>
      </cover>
    <% } else { %>
      <cover class='cover <%- page.layout %> half'>
        <%- partial('../_cover/index') %>
      </cover>
    <% } %>
    <%- partial('header', null, {cache: false, path: path}) %>
  </div>
<% } else { %>
  <%- partial('header', null, {cache: false, path: path}) %>
<% } %>
